.flexRowContent--container__col__minicart__empty{
    width: 95vw;
    margin: 20px 20px 100px 20px;
}
.flexCol--container__col1__minicart__empty{
    align-items: start;
    text-align-last: start;
}
.flexCol--container__col1__minicart__empty :last-child{
    align-self: center;
}
.flexCol--container__col2__minicart__empty{
    align-items: center;
    background-color: #f8f8f8;
    height: 210px;
    transform: translateY(10px);
    padding: 50px;
}
.flexRow--minicart__row--desktop{
    width: 1250px;
    margin: 20px 20px 200px 20px;
}
.flexCol--minicart__col2--desktop{
    margin-left: 40%;
    background-color: #f5f5f5;
} 
.flexCol--minicart__col1--desktop,
.flexCol--minicart__col2--desktop{
    padding: 20px;
    border: solid 2px #f3f3f3;    
}
.flexColChild--minicart__col2--desktop :global(.vtex-button){
    background-color: #e63027;
    border: none;
}

@media screen and (max-width: 639px){
    .flexRow--minicart__row--desktop{
        width: 85vw;
    }
    .flexCol--minicart__col2--desktop{
        margin-left: -8%;
    }
}

@media screen and (max-width: 1024px){
    .flexCol--container__col2__minicart__empty{
        display: none;
    }
    .flexRowContent--container__col__minicart__empty{
        width: 95vw;
        margin: 0;
        margin-bottom: 40px;
    }
    .flexColChild--container__col1__minicart__empty{
        width: 94vw;        
    }
    
    .flexRowContent--minicart__row--desktop{
        flex-direction: column;
    }
    .flexCol--minicart__col2--desktop{
        background-color: inherit;
    }
    .flexCol--minicart__col1--desktop,
    .flexCol--minicart__col2--desktop{
        border: none;
    }
    .flexColChild--minicart__col1--desktop{
        width: 80vw;
    }
    .flexColChild--minicart__col2--desktop :global(.vtex-rich-text-0-x-container){
        display: none;
    } 
    .flexColChild--minicart__col2--desktop :global(.vtex-button){
        width: 75vw;
    }
   
}

@media screen and (min-width: 640px) and (max-width: 1024px){
    .flexRow--minicart__row--desktop{
        width: 90vw;
    }
    .flexCol--minicart__col2--desktop{
        margin-left: 0%;
    }
}

