.paragraph--minicart__empty--text2{
    padding: 10px;
    width: 65vw;
    text-align: left;
    box-shadow: 1px 0px 6px -2px #ecba18;
}

@media screen and (max-width: 1024px){
   .paragraph--minicart__empty--text2{
        width: 93vw;
   }
   .container--minicart__empty--text1{
        width: 99%;
        background-color: #f3f3f3;
        justify-content: start;
   }
   .wrapper--minicart__empty--text1{
        padding: 0px 5px 0 15px;
   }
}
