.flexRow--home__section--two--title{
    background-color: #f5f5f5;
    padding-top:16px;
    border-bottom: solid 1px #e0e0e0;
}
.flexRow--home__section--two {
    background-color: #f5f5f5;
    padding: 0 16px 16px;
}