.image{
    width: 230px;
    height: 178px;
}
.containerNormal{
    padding: 15px;
    box-shadow: 0px 0px 4px 0px rgb(0 0 0 / 16%);
}
.brandName--quick-view__modal--info-name{
    font-size: 20px;
    font-weight: bold;
}