.container--home__section--two--title-text{
   padding-top: 16px;
}

.wrapper--home__section--two--title-text,
.wrapper--home__section--three--title-text,
.wrapper--home__section--four--title-text,
.wrapper--home__section--five--title-text,
.wrapper--home__section--six--title-text,
.wrapper--home__section--seven--title-text,
.wrapper--home__section--eight--title-text,
.wrapper--home__section--nine--title-text,
.wrapper--home__section--ten--title-text{
    margin-bottom: 2px;
    box-shadow: 0px 4px #e63027;
}
.paragraph--home__section--two--title-text,
.paragraph--home__section--three--title-text,
.paragraph--home__section--four--title-text,
.paragraph--home__section--five--title-text,
.paragraph--home__section--six--title-text,
.paragraph--home__section--seven--title-text,
.paragraph--home__section--eight--title-text,
.paragraph--home__section--nine--title-text,
.paragraph--home__section--ten--title-text{
    margin: 4px 0px 4px 0px;
    color: #004691;
}
.wrapper--home__section--banner--one-1-text{
    font-size: 14px;
    font-family: Arial,Helvetica,sans-serif;
}
.container--home__section--banner--one-1-text{
    width: 230px;
}
.wrapper--section__ten--text1{
    font-size: 16px;
    color: #444444;
    margin-bottom: 0;
    margin-top: 16px;
    font-family: inherit;
}
.paragraph--section__ten--text1{
    margin: 0px;
    line-height: 1;
}
.paragraph--section__ten--text2{
    font-size: 14px;
    color: #e63027;
    text-decoration: underline;
    font-weight: normal;
    margin: 0;
}
.paragraph--home_section-one-departmentName{ 
    line-height: 0.5;
    font-size: 14px;
    color: #004691;
    font-family: Arial,Helvetica,sans-serif;
}

