.sliderLayoutContainer--home__slider{
    max-width: 100%;
    margin: 0 auto 50px
}

.paginationDotsContainer--home__slider{
    transform: translateY(-15px);
}
.paginationDot--home__slider--isActive{
    background-color: #e63027;
}
.sliderLayoutContainer--home__slider{ 
    margin-left: 35px;
}
.caretIcon--home__slider{
    color: #E63027;
}
.caretIcon--home__slider--mobile{
    color: #E63027;
    transform: translateY(160px);
    margin: 20px;
}
.paginationDot--home__slider--mobile--isActive{
    background-color: #E63027;    
}
.slide--home__slider--mobile{
    margin-bottom: 70px;
}
.paginationDotsContainer--home__slider--mobile{
    margin-bottom: 15px;
}
.sliderLayoutContainer--slider__home--section-two-images{
    padding: 15px 23px 0px 23px;
    background-color: #f5f5f5;
}
.sliderLayoutContainer--slider__home--mobile-offers-images{
    padding-top: 15px;
}
.sliderTrack--slider__home--section-three-images,
.sliderTrack--slider__home--section-four-images,
.sliderTrack--slider__home--section-five-images,
.sliderTrack--slider__home--section-seven-images,
.sliderTrack--slider__home--section-eight-images,
.sliderTrack--slider__home--section-nine-images{
    padding: 15px 75px 0 75px;
}
