.wrapper--header__contact--text{
    box-shadow: none !important;
}
.paragraph--header__contact--text{
    color: #004691;
    font-size: 14px;
    line-height: 16px;
    margin-right: 25px;
}
.link--header__contact--text{
    text-decoration: none;
    color: #004691;
}
.link--text__celphones--one-description{
    font-size: 11px;
    text-decoration: none;
    color: #444;
}
.wrapper--text__celphones--one-title{
    color: #e63027;
    height: 16px; 
    font-size: 12px;
    margin-left: -10px;
}
.paragraph--text__celphones--one-description{
    line-height: 1;
    margin-bottom: 0px;
} 