.flexRowContent--container__minicart__logo--header{
    margin-bottom: 10px;
    font-size: 14px;
}
.flexColChild--container__department--celphones--one{
    height: 37px;
}
.flexColChild--container__department--celphones--one:hover{
    background-color: #fff;
}