.link--link__minicart,
.link--link__login{
    text-decoration: none;
    color: #004691;
    font-size: 14px;
}
.link--link__department{
    text-decoration: none;
   /*  padding: 10px; */
    color: #fff;
    font-size: 14px;
    /* height: 38px; */
   padding: 10px 5px 0px 8px;
}
.link--link__department:hover{
    color: #004691;
    background-color: #fff;
} 
.link--link__department::after{
    content: "";
    display: block;
    border-right: 1px solid #fff;
    height: 8px;
    transform: translate(5px,-12px);
}